{% extends "aulaweb/base.html" %}
{% block conteudo %}
<main class="container my-5">
    <h2 class="mb-4">Próximos Eventos e Destaques</h2> 
    <div class="row">
        
        {% for evento in list_eventos %}
        <div class="col-md-4 mb-4">
            <div class="card evento-card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'detalhar_evento' evento.pk %}">{{ evento.nome }}</a>
                    </h3>
                    <p class="card-text">
                        Tipo: {{ evento.get_tipo_evento_display }}
                    </p>
                    <p class="card-text">
                        Data: {{ evento.data_inicial|date:"d/m/Y H:i" }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}