{% extends "aulaweb/base.html" %}
{% block conteudo %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_form.css' %}" />

<div class="form-container">
    <h2>Login de Usuário</h2>
    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }} 
        
        <button type="submit">Entrar</button>
        <div style="margin-top: 15px;">
            Não tem conta? <a href="{% url 'cadastro_usuario' %}">Fazer Cadastro</a>
        </div>
    </form>
</div>
{% endblock %}